<form class="form-signin">
    <div class="text-center logo mt-0 mb-2">
        <img src="./assets/imgs/logos/logo.png" alt="Logo">
    </div>
    <h2 class="text-center mt-4 mb-5">Forgot Password</h2>
    <div class="row">
        <div class="col-12">
            <div class="form-group has-float-label field-with-icon">
                <i class="icon-mail"></i> <input class="form-control" type="text" id="loginEmailAddress" placeholder="Email Address">
                <label for="loginEmailAddress">Email Address</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center"> <button class="btn btn-secondary" type="submit" routerLink="/login">Back</button> <button class="btn btn-primary" type="submit" routerLink="/users">Submit</button></div>
    </div>
  </form>