<!-- sidebar should be hide on role base -->

<!-- Side Nav START -->
<!---menu backdrop div start-->
<div class="overlay"></div>
<!---menu backdrop div end-->
<nav class="side-nav expand-lg">
    <div class="side-nav-inner">
        <ul class="side-nav-menu">
                <!-- <li class="nav-item dropdown">
                        <a class="dropdown-toggle" routerLink="/proposal" routerLinkActive="active-link">
                            <i class="icon-forms"></i>
                            <span class="title">Master</span>
                        </a>
                    </li> -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" routerLink="/sample-form" routerLinkActive="active-link">
                    <i class="icon-forms"></i>
                    <span class="title">Sample Form</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" routerLink="/sample-list" routerLinkActive="active-link">
                    <i class="icon-forms"></i>
                    <span class="title">Sample List</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" routerLink="/users" routerLinkActive="active-link">
                    <i class="icon-forms"></i>
                    <span class="title">Users</span>
                    </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" routerLink="/client-master" routerLinkActive="active-link">
                    <i class="icon-forms"></i>
                    <span class="title">Client Master</span>
                    </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" routerLink="/inward-material" routerLinkActive="active-link">
                    <i class="icon-forms"></i>
                    <span class="title">Inward Material</span>
                    </a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="dropdown-toggle" routerLink="/login" routerLinkActive="active-link">
                    <i class="icon-logout"></i>
                    <span class="title">Logout</span>
                </a>
            </li> -->
        </ul>
        <div class="fold-menu-on-desktop">
            <a class="sidenav-fold-toggler" href="javascript:void(0);">
                <i class="icon-left"></i>
            </a>
        </div>
    </div>
</nav>
<!-- Side Nav END -->